body{
  background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-pink-cute-baby-clouds-stars-background-picture-image_1342442.jpg");
  background-repeat: no-repeat;
	background-position: center;
}
h1{
  text-align: center;
  background-color: #E6E6FA;
  font-family: cursive;
  border: 2px dotted blue;
  padding: 10px 15px;
  width: 250px;
  margin-bottom: 20px;
  
}
p{
  text-align: justify;
  background-color: hsl(322, 50%, 87%);
  font-style: italicized;
  padding: 20px; 
  border: 3px solid black;
  border-style: solid dotted double dashed;
  width: 500px;
  
}
span{
  font-weight: bold
  font_
}
